html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #8750f7;
  --secondary-color: #2a1454;
  --header-background-color: #10203;
  --background-dark-color: #212529;
  --forground-color: #f6f3fc;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-dark-color);
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--forground-color);
  font-wieght: 600;
}

h1 {
  font-size: 4.065rem; // 65px
}
h2 {
  font-size: 2.81rem; // 45px
}
h3 {
  font-size: 1.56rem; // 25px
}
h4 {
  font-size: 1.125rem; // 18px
}

/* paragraph & other text */
p,
span,
div {
  color: var(--forground-color);
}
.text-xs {
  font-size: 0.63rem; // 10px
}
.text-sm {
  font-size: 0.75rem; // 12px
}
.text-md {
  font-size: 0.875rem; // 14px
}
.text-lg {
  font-size: 1.125rem; // 18px
}
.text-xl {
  font-size: 1.5rem; // 24px
}




/* Responsive design */

/* xl media query (1024 - 1240) */
@media screen and (min-width: 1024px and max-width: 1240px) {
  
  /* headings */
  h1 {
    font-size: 3.375rem; // 54px
  }
  h2 {
    font-size: 2.125rem; // 34px
  }
  h3 {
    font-size: 1.25rem; // 20px
  }
  h4 {
    font-size: 1rem; // 16px
  }
  // texts
  .text-xs {
    font-size: 0.589; // 9px
  }
  .text-sm {
    font-size: 0.7rem; // 11px
  }
  .text-md {
    font-size: 0.8125rem; // 13px
  }
  .text-lg {
    font-size: 1rem; // 16px
  }
  .text-xl {
    font-size: 1.25rem; // 20px
  }
}

/* lg media query (768 - 1024) */
@media screen and(min-width:768px and max-width: 1024px) {
  /* headings */
  h1 {
    font-size: 2.81rem; // 45px
  }
  h2 {
    font-size: 2.125rem; // 34px
  }
  h3 {
    font-size: 1.25rem; // 20px
  }
  h4 {
    font-size: 1rem; // 16px
  }
  // texts
  .text-xs {
    font-size: 0.589; // 9px
  }
  .text-sm {
    font-size: 0.7rem; // 11px
  }
  .text-md {
    font-size: 0.8125rem; // 13px
  }
  .text-lg {
    font-size: 1rem; // 16px
  }
  .text-xl {
    font-size: 1.25rem; // 20px
  }
}